<%-include("_header")  %> 
<div>
    <p>Welcome,<%= comment.user.name  %> </p>
    <br>
    <br>
    <h2>Welcome To &nbsp;<b> CODEIAL</b></h2>
    <p>Your comment &nbsp;&nbsp; &nbsp; <strong> <%=comment.content%> </strong> just got published in CODEIAL</p>


    


   <br>
   <br>
   <h5>Thanks <%=comment.user.name %>  %> </h5>



</div>